<ul>
<% @songs.each do |song| %>
  <li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
<<<<<<< HEAD
<%= image_tag song.album_cover.url(:thumb) %>
=======
  <%= image_tag song.album_cover.url(:thumb) %>
>>>>>>> 5b97e45298528b1c344999d62b5794ef87b651b7
<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>
